In [1]:
import pandas as pd
import numpy as np

In [2]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

(103, 3)

In [4]:
df_process_1 = dfs[0][dfs[0].Borough != 'Not assigned']
df_process_2 = df_process_1.groupby(['Postcode', 'Borough'], as_index=False).agg({'Neighbourhood':','.join})
df_process_2[df_process_2['Neighbourhood'] == 'Not assigned']
df_process_2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [3]:
df_coordinate = pd.read_csv("http://cocl.us/Geospatial_data")
df_coordinate.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
df_coordinate = df_coordinate.rename(columns={"Postal Code": "Postcode"})
df_coordinate.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [8]:
result = df_process_2.merge(df_coordinate, on=['Postcode'])
print(result.shape)
result.head()

(103, 5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476