# Data

In [ ]:
For each of places, we can get the longitude and latitude value by either geolocator or 
https://www.latlong.net.

Then we can call the foursquare api:
    
https://api.foursquare.com/v2/venues/search?client_id={{client_id}}&client_secret={{client_secret}}&v={{v}}&ll=28.2916,-16.6291&intent=browse&radius=100000&limit=30

The longitude and latitude are searched, and the radius is using 100 km. 
The result would be a list of venues that that a typical user is likely to checkin to at the provided. And by using the browse as intent parameter value, searches an entire region instead of only finding venues closest to a point. Here it specifies the radius as 100km and limited the result as 100.
Thus we get 100 venues for each of optional places.
The information of a venue we used would be name and category. For each of venue, we can get the datafram e.g.

In [2]:
import pandas as pd 
  
# initialize list of lists 
data = [['Tenerife', 'Pico del Teide', 'Mountain Hut'], ['Tenerife', 'Vinkumkum room', 'Housing Development']] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Destination','Venue Name', 'venue category']) 
  
# print dataframe. 
df

  Destination      Venue Name       venue category
0    Tenerife  Pico del Teide         Mountain Hut
1    Tenerife  Vinkumkum room  Housing Development

The example only shows two rows. As we set the limit to 100, for each destination, there would be 100 rows.

We can then one hot the venue’s category for each venues and group them by the place name. Then we can for each place find the 10 top venues and create a new data frame.
E.g.

In [6]:
import numpy as np
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Destination']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [Destination, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue]
Index: []

Upon the resulted data frame, we can run k means clustering, add clustering labels for each place. 
For the places that having the same label, we can say that they are similar.